<template name="adminMenu">
  {{#if isAdmin}}

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{_ "admin"}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {{#each menu}}
                  {{> UI.dynamic template=menuItem data=this}}
                {{/each}}
              </ul>
          </li>

      </ul>
  {{/if}}
</template>