<template name="nav">

    <style>

        .navbar {
            border-radius: 0px;
        }
    </style>

    <nav class="navbar navbar-default {{headerClass}} navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="/" style="padding:0px;">

                    {{#if logo_url}}
                        <img src="{{logo_url}}" alt="{{site_title}}"/>

                    {{else}}
                        {{site_title}}
                    {{/if}}

                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->


            <ul class="nav navbar-nav hidden-xs hidden-sm">
                <li>
                    {{> UI.dynamic template="search"}}
                </li>

            </ul>

            {{#if hasSecondaryNav}}
                <ul class="nav navbar-nav navbar-right {{dropdownClass}} hidden-xs hidden-sm">
                    {{#each secondaryNav}}
                        <li>
                            {{> UI.dynamic template=getTemplate}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if hasPrimaryNav}}
                <ul class="nav  navbar-nav navbar-right {{dropdownClass}} hidden-xs hidden-sm">
                    {{#each primaryNav}}
                        <li>
                            {{> UI.dynamic template=getTemplate}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}

        </div>
        <!-- /.navbar-collapse -->

    </nav>


</template>
