<template name="viewsMenu">
  {{#if canView}}

      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{_ "view"}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {{#each views}}
                  {{> UI.dynamic template=menuItem data=this}}
                {{/each}}
              </ul>
          </li>
      </ul>
  {{/if}}
</template>