<template name="appBody">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    MeteorBB,A forum platform ON Meteor.
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>

        </div>
    </nav>

    <div id="container" class="container {{menuOpen}} {{cordova}}">






        {{#unless connected}}
            <div class="notifications">
                <div class="notification">
                    <span class="icon-sync"></span>

                    <div class="meta">
                        <div class="title-notification">Trying to connect</div>
                        <div class="description">There seems to be a connection issue</div>
                    </div>
                </div>
            </div>
        {{/unless}}

        <div class="content-overlay"></div>

        <div id="content-container" class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Welcome to MeteorBB

                </div>
                <div class="panel-body">

                    {{#each thisArray}}
                        {{> yield}}
                    {{/each}}
                </div>
            </div>

        </div>


        <section id="menu" class="col-md-3">



            <div class="panel panel-default">
                <div class="panel-heading">Nodes</div>
                <div class="panel-body">
                    {{#each lists}}
                        <a href="{{pathFor 'listsShow'}}" class="{{activeListClass}}" title="{{name}}">
                            {{#if userId}}
                                <span class="icon-lock"></span>
                            {{/if}}
                            <!--{{#if incompleteCount}}-->
                                <!--<span class="count-list">{{incompleteCount}}</span>-->
                            <!--{{/if}}-->
                            {{name}}
                        </a>
                    {{/each}}

                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Links</div>
                <div class="panel-body">
                    <p><a href="http://www.meteor.com">Meteor</a></p>

                    <p><a href="http://zh.discovermeteor.com">Discovery Meteor</a></p>
                </div>
            </div>


            <ul class="list-group">
                <a class="js-new-list link-group-item"><span class="icon-plus"></span>New List</a>


            </ul>
        </section>

    </div>

    <a href="http://github.com/cobola/meteorbb">
        <img style="position: absolute; z-index: 5; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
    </a>
</template>
