<template name="comment_edit">
  <div class="grid submit">
    {{#with comment}}
    <form class="grid-block form-horizontal form-group">
      <div class="control-group">
        <label class="control-label">{{_ "comment_"}}</label>
        <div class="controls comment-field" id="editor"><textarea id="body" value="" class="input-xlarge form-control">{{body}}</textarea></div>
      </div>
      <div class="control-group">
        <a class="delete-link btn btn-danger" href="/comments/deleted">{{_ "delete_comment"}}</a>
        <input type="submit" class="btn btn-primary" value="{{_ "submit"}}" title="(⌘+enter)" />
      </div>
    </form>
    {{/with}}
  </div>
</template>