<template name="postUpvote">
    {{#if upvoted}}


        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default cancel-upvote-link">{{upvotes}} {{_ 'cancel_upvote'}}
                <i class="glyphicon glyphicon-thumbs-up"></i></button>
        </div>

    {{else}}

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default upvote-link">{{upvotes}} {{_ 'upvote'}}
                <i class="glyphicon glyphicon-thumbs-up"></i></button>
        </div>

    {{/if}}
</template>