<template name="postEdit" xmlns="http://www.w3.org/1999/html">
  <form class="main form page">

    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>

      <div class="form-group {{errorClass 'content'}}">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
              <textarea name="content" id="content" placeholder="Your Content" class="form-control">{{content}}</textarea>

              <span class="help-block">{{errorMessage 'content'}}</span>
          </div>
      </div>


      <script>
          $(function() {
              $('#content').editable({
                  buttons: ['undo', 'redo' , 'sep', 'bold', 'italic', 'underline','align','insertOrderedList','insertUnorderedList'],
                  inlineMode: false
              })
          });
      </script>

    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>