<template name="header">

    <nav class="navbar navbar-default" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}">MeteorBB</a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    <!--<li class="{{activeRouteClass 'home' 'newPosts'}}">-->
                        <!--<a href="{{pathFor 'newPosts'}}">New</a>-->
                    <!--</li>-->
                    <!--<li class="{{activeRouteClass  'bestPosts'}}">-->
                        <!--<a href="{{pathFor 'bestPosts'}}">Best</a>-->
                    <!--</li>-->
                    {{#if currentUser}}

                        <li class="dropdown">
                            {{> notifications}}
                        </li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{activeRouteClass 'postSubmit'}}">
                        <a href="{{pathFor 'postSubmit'}}">发帖</a>
                    </li>
                    {{> loginButtons}}
                </ul>
            </div>

        </div>
    </nav>

    <a href="http://github.com/cobola/meteorbb">
        <img style="position: absolute; z-index: 5; top: 0; left: 0; border: 0;"
             src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
    </a>

</template>